.Function{
  display: flex;
  flex-direction: row;
  align-items: top;
  padding-bottom: 10px;
}
.btn-1{
  width: 30px;
  height: 30px;
}
.Text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
}